@import "tailwindcss";

@theme {
  --color-blue-dark: #001a47;
  --color-white-smoke: #fafafa;
  --color-white-strong: #ffffff;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-proxima);
  --font-serif: var(--font-kazimir);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-proxima), sans-serif;
}

.font-proxima {
  font-family: var(--font-proxima), sans-serif;
}

.font-kazimir {
  font-family: var(--font-kazimir), serif;
}
