@import "tailwindcss";

@theme {
  --color-blue-dark: #001a47;
  --color-white-smoke: #fafafa;
  --color-white-strong: #ffffff;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-proxima);
  --font-serif: var(--font-kazimir);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-proxima), sans-serif;
}

.font-proxima {
  font-family: var(--font-proxima), sans-serif;
}

.font-kazimir {
  font-family: var(--font-kazimir), serif;
}

.form-label {
  @apply font-bold;
}

.form-input {
  @apply p-3 border border-gray-500 rounded-md;
}

.btn-form-primary {
  @apply w-full bg-blue-900 text-white-smoke py-3 rounded-md font-bold cursor-pointer hover:bg-blue-700 transition;
}

.btn-form-secondary {
  @apply w-full border-2 border-blue-900 text-blue-900 py-3 rounded-md font-bold hover:border-blue-700 hover:text-blue-700 cursor-pointer transition;
}

.nav-items {
  @apply cursor-pointer font-semibold hover:text-yellow-400;
}
